# name: src test

# on:
#   push:
#     branches: [ main ]

# jobs:
#   build:

#     runs-on: ubuntu-latest

#     steps:
#     - uses: actions/checkout@v2
#     - name: Set up Python 3.10
#       uses: actions/setup-python@v2

#     - name: Install dependencies
#       run: |
#         python -m pip install --upgrade pip
#         pip install -r tests/test_requirements.txt
#     - name: Test with pytest
#       run: |
#         pytest
